page-cart {

}
.toolbar-title-ios{
  color: white !important;
}
.img-slide{
  height: 43%;
}
.slide-banner{
  height: inherit;
}
.btn-detail{
  width: 115px;
  height: 45px;
}
.btn-span{
  font-size: 22px;
  margin-left: 5px;
}
