page-cart {

}
.toolbar-title-ios{
  color: white !important;
}
.img-slide{
  height: 43%;
}
.slide-banner{
  height: inherit;
}
.btn-detail{
  width: 115px;
  height: 45px;
}
.btn-span{
  font-size: 22px;
  margin-left: 5px;
}
.title-product{
  color: #222222;
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-ios hr {
  height: 1px;
}
.price-product{
  color: red;
  font-size: 13px;
}
.order-product{
  color: #099636;
  font-size: 13px;
  text-decoration: none;
}
